@import "tailwindcss";


body {
  background:
    linear-gradient(rgba(255, 255, 255, 0.111), rgba(255, 255, 255, 0.202)),
    url('/skyimage.png');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
 
  justify-content: center;
  height: 100vh;
}