@import "tailwindcss";


body {
  background:
    linear-gradient(rgba(255, 255, 255, 0.495), rgba(255, 255, 255, 0.419)),
    url('/skyimage.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
 
  justify-content: center;
  height: 100vh;
}